* {
    font-family: Arial;
}

#t1 {
    display: inline-block;
}

#t2 {
    display: inline-block;
}

#newEmpForm input {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 1px;
    width: 300px;
}

#newEmpForm label {
    display: inline-block;
    width: 200px;
}

select option {
    width: 200px;
}
td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}